body,p,h1,h2,h3,h4,ul{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    border: 0;
    vertical-align: middle;
}
a{
    text-decoration: none;
    color: #3c3c3c;
}
input,button{
    margin: 0;
    padding: 0;
}
button{
    outline: none;
}
body{
    font:12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif
}

.clearfix:after{
    content: '';
    display: block;
    clear:both;
}

.fl{
    float: left;
}
.fr{
    float: right;
}

.learyer{
    width: 1190px;
    margin: 0 auto;
}

.mr7{
    margin-right: 7px;
}

.mr5{
    margin-right: 5px;
}
.c4{
    color: #f40;
}
.c5{
    color: #f50;
}
.mt10{
    margin-top: 10px;
}
.mr10{
    margin-right: 10px;
}
